/***********************************************/
/*                   IMG TOP                   */
/***********************************************/

#menu-img {
    position: relative;
    z-index: -1;
    margin-top: -10%;
}

#menu-img-manga {
    width: 100%;
    filter: brightness(70%);
    position: absolute;
    z-index: 0;
}



/***********************************************/
/***********************************************/
/***********************************************/

/***********************************************/
/*                    BODY                     */
/***********************************************/

#body {
    margin-top: 36%;
    position: relative;
    background-color: #D9D9D9;
    font-family: Arial, sans-serif;
    padding-left: 2%;
    padding-right: 2%;
    box-shadow:  00px 0px 10px black;
    padding-bottom: 2%;

}

#body-index {
    margin-top: 36%;
    position: relative;
    background-color: #D9D9D9;
    font-family: Arial, sans-serif;
    /* padding-left: 2%;
    padding-right: 2%; */
    box-shadow:  00px 0px 10px black;
    padding-bottom: 2%;

}

/***********************************************/
/***********************************************/
/***********************************************/


/***********************************************/
/*                 PRESENTATION                */
/***********************************************/

#body-history {
    margin-bottom: 2%;
}

#body-presentation-top-img {
    width: 20%;
    display: inline-block;
    /* background-color: red; */
    vertical-align: top;
}

#body-presentation-top-img-manga {
    width: 100%;
    /* border: 3px solid black; */
}
#body-presentation-top-txt {
    width: 70%;
    vertical-align: top;
    display: inline-block;
    margin-left: 2%;
    text-align: justify;
    
    /* background-color: red; */
}


#body-presentation-bottom-txt {
    margin-left: 2%;
    margin-right: 8%;
    text-align: justify
}


.bouton-studio {
    color: #A71313;
    font-weight: bold;
    text-decoration: none;
}



/***********************************************/
/***********************************************/
/***********************************************/




/***********************************************/
/*                   HISTORY                   */
/***********************************************/

#body-history {
    background-color: #A7A7A7;
    padding: 2%;
    border-radius: 50px;
}

#body-history-txt {
    width: 67%;
    vertical-align: top;
    display: inline-block;
    margin-right: 1%;
    text-align: justify;
}

#body-history-txt h1 {
    text-align: center;
}


#body-history-img {
    width: 30%;
    /* display: inline-block; */
    /* margin-top: 5%; */
    /* align-items: center; */
    vertical-align: text-top;
    
    border: 2px solid black;
    border-radius: 10px;
}


/***********************************************/
/***********************************************/
/***********************************************/







/***********************************************/
/*                  PERSONNAGE                 */
/***********************************************/

#body-character-title {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 0;
    border-top: 3px solid black;
}

.body-character {
    background-color: #A7A7A7;
    border-radius: 25px;
    margin-top: 3%;
    width: 49%;
    text-align: justify
}

.body-character h1 {
    text-align: center;
}

.body-character-img {
    width: 20%;
    display: inline-block;
    margin-left: 2%;
}

.body-character-txt {
    width: 69%;
    display: inline-block;
    vertical-align: top;
}

.body-box-character {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
}




/***********************************************/
/***********************************************/
/***********************************************/






/***********************************************/
/*                    STATS                    */
/***********************************************/


#body-stats {
    background-color: #A7A7A7;
    padding: 2%;
    border-radius: 50px;
    margin-top: 50px;
}

#body-stats-txt {
    width: 47.3%;
    vertical-align: top;
    display: inline-block;
    text-align: justify;
}

#body-stats-txt:first-child {
    border-right: 3px solid black;
    padding-right: 2%;
    
}

#body-stats-txt:last-child {
    padding-left: 2%;
}

#body-stats-txt h1 {
    text-align: center;
}

#body-stats-txt-info {
    font-weight: bold;
    text-align: center;
    /* text-shadow: 1px 1px 1px black; */
}

#body-stats-txt-lien {
    text-decoration: none; 
    color: #A71313;
    text-align: center;
}





/***********************************************/
/***********************************************/
/***********************************************/







/***********************************************/
/*                MENU ACCEUIL                 */
/***********************************************/

.box-sortie > h1 {
    
    -webkit-text-stroke: 1px black;
    text-shadow: 1px 1px 1px black;
    color : white;
    padding-left: 2%;
    padding-right: 2%;
}
.box-sortie-h1-titre {
    
    -webkit-text-stroke: 1px black;
    text-shadow: 1px 1px 1px black;
    color: #A71313;
}

/* Logo des mangas */
.box-sortie-logo-manga  {
    display: inline-block;
    text-align: center;
}


.box-sortie-logo-manga img  {
    width: 20%;
    margin-left: 1% ;
    margin-right: 1% ;
    border: 3px solid black;
    border-radius: 10px;

}

.box-sortie-logo-manga img:hover {
    cursor: pointer;
    width: 20%;
    border: 10px solid #1F1E1E;
    border-radius: 10px;
    /* margin-bottom: -40px; */
    /* margin-left: 4%; */
    border-radius: 10px;
    z-index: -10;
}

/*********************/


/* Image du manga sélectionné */
.box-sortie-manga img {
    width: 20%;
    border: 20px solid #1F1E1E;
    border-radius: 10px;
    margin-bottom: -40px;
    margin-left: 4%;
    border-radius: 10px;
    z-index: 10;
    
}
/*********************/


/* Info des mangas */
.box-sortie-manga-info {
    padding-top: 1px;
    padding-bottom: 1px;

}

.box-sortie-manga-info p {
    padding-left: 2%;
    padding-right: 2%;
    text-align: justify;

}

.box-sortie-manga-info p:last-child {
    padding-bottom: 2%;

}

.box-sortie-manga {
    position: relative;
}

.box-sortie-manga-info:first-child {
    background-color:#1F1E1E;
    /* font-family: kavoon; */
    color: white;
    display: none;
        
    /* opacity: 0;
    height: 0;
    overflow: hidden;
    transition: opacity 0.5s, height 10.5s;  */
   
    top: 0;
}


.box-sortie-manga-info:not(:first-child) {
    background-color:#1F1E1E;
    /* font-family: kavoon; */
    color: white;
    display: none;
    /* position: absolute; */
    opacity: 0; 
    top: 0;
    /* left: 0; */
}


.box-sortie-logo-manga > a:nth-child(1):hover ~ .box-sortie-manga > .box-sortie-manga-info:nth-child(1) {
    display: block;
    opacity: 1;
} 

.box-sortie-logo-manga > a:nth-child(2):hover ~ .box-sortie-manga > .box-sortie-manga-info:nth-child(2) {
    display: block;
    opacity: 1;
} 

.box-sortie-logo-manga > a:nth-child(3):hover ~ .box-sortie-manga > .box-sortie-manga-info:nth-child(3) {
    display: block;
    opacity: 1;
} 

.box-sortie-logo-manga > a:nth-child(4):hover ~ .box-sortie-manga > .box-sortie-manga-info:nth-child(4) {
    display: block;
    opacity: 1;
} 


/* 
.box-sortie-logo-manga:nth-child(2):hover + .box-sortie-manga > .box-sortie-manga-info:nth-child(2) {
    opacity: 1;
    /* transition: opacity 0.5s; *//*
} 
*/


/*********************/






/***********************************************/
/***********************************************/
/***********************************************/