.image {
    width: 100%;
    /* Vous pouvez utiliser une largeur en pourcentage ou une valeur spécifique */
    /* Autres styles pour le conteneur de l'image */
}

.image img {
    width: 100%;
    /* Assurez-vous que l'image utilise toute la largeur de son conteneur */
    height: auto;
    /* Garantit que la hauteur s'ajuste proportionnellement à la largeur */
    display: block;
    /* Pour éviter des espaces indésirables sous l'image */
    border-bottom: 5px solid #fff;
    border-top: 5px solid #fff;
}

.conteneur {
    position: relative;
    /* Autres styles pour votre conteneur */
    background-color: #4C4847;
}

.imgLogo {
    width: 20%;
        height: auto;
        position: relative;
        bottom: 80px;
        left: 3%;
        border: 5px solid white;
}

.presentation {
    display: block;
}

.description {
    position: relative;
        bottom: 70px;
        left: 5%;
        width: 90%;
        text-align: justify;
        font-weight: bold;
        font-size: 17px;
        color: #fff;
}

.animePara {
    position: relative;
        bottom: 70px;
        left: 5%;
        width: 90%;
        text-align: justify;
        font-weight: bold;
        font-size: 17px;
        padding-bottom: 1.5%;
        color: #fff;
}

h1 {
    margin: -3% 0% 5% 0%;
    text-align: center;
    color: black;
    font-family: 'Kanit';
}

h4 {
    color: black;
    font-weight: bold;
    font-size: x-large;
    font-family: 'Kanit';
}

a {
    color: #fff;
}

video {
    width: 90%;
    border: 3px solid white;
    border-radius: 10px;
    text-align: center;
    margin: auto;
    display: flex;
    margin-bottom: 2%;
}

.trailer {
    background-color: rgb(49, 45, 45);
}

.titretrailer {
    text-align: center;
    color: white;
    font-size: 200%;
    font-family: Kanit;
    padding-top: 2%;
    margin-top: 0;
}

.trailer>figure {
    margin-bottom: 0;
}

.bouton {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 2%;
}

.retour {
    background-color: rgb(34, 31, 31);
    margin-right: 10px;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 5px 5px black;
    text-align: center;
    text-decoration: none;
}