
@media screen and (min-width: 1201px){
        


    /***********************************************/
    /*                   IMG TOP                   */
    /***********************************************/

    #menu-img {
        position: relative;
        z-index: -1;
        margin-top: -10%;
    }

    #menu-img-manga {
        width: 100%;
        filter: brightness(70%);
        position: absolute;
        z-index: 0;
    }




    /***********************************************/
    /***********************************************/
    /***********************************************/

    /***********************************************/
    /*                    BODY                     */
    /***********************************************/

    #body {
        margin-top: 36%;
        position: relative;
        background-color: #D9D9D9;
        font-family: Arial, sans-serif;
        padding-left: 2%;
        padding-right: 2%;
        box-shadow:  00px 0px 10px black;
        padding-bottom: 2%;

    }

    #body-index {
        margin-top: 36%;
        position: relative;
        background-color: #D9D9D9;
        font-family: Arial, sans-serif;
        /* padding-left: 2%;
        padding-right: 2%; */
        box-shadow:  00px 0px 10px black;
        padding-bottom: 2%;

    }

    .body-video-trailer {
        width: 90%;
        border: 3px solid black;
        border-radius: 10px;
        text-align:center;
        margin:auto;
        display:flex;
        margin-bottom: 2%;
    }

    .body-trailer h1{
        text-align: center;
        border-top: 3px solid black;
    }


    /***********************************************/
    /***********************************************/
    /***********************************************/


    /***********************************************/
    /*                 PRESENTATION                */
    /***********************************************/

    #body-history {
        margin-bottom: 2%;
    }

    #body-presentation-top-img {
        width: 20%;
        display: inline-block;
        /* background-color: red; */
        vertical-align: top;
    }

    #body-presentation-top-img-manga {
        width: 100%;
        /* border: 3px solid black; */
    }
    #body-presentation-top-txt {
        width: 76%;
        vertical-align: top;
        display: inline-block;
        margin-left: 2%;
        text-align: justify;
        
        /* background-color: red; */
    }


    #body-presentation-bottom-txt {
        margin-left: 2%;
        margin-right: 2%;
        text-align: justify
    }


    .bouton-studio {
        color: #A71313;
        font-weight: bold;
        text-decoration: none;
    }



    /***********************************************/
    /***********************************************/
    /***********************************************/




    /***********************************************/
    /*                   HISTORY                   */
    /***********************************************/

    #body-history {
        background-color: #A7A7A7;
        padding: 2%;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center; 
        width: 96%;   
    }

    #body-history-txt {
        width: 67%;
        vertical-align: top;
        display: inline-block;
        margin-right: 1%;
        text-align: justify;
    }

    #body-history-txt h1 {
        text-align: center;
    }


    #body-history-img {
        width: 100%;
        /* margin-top: 5%; */
        /* align-items: center; */
        
        border: 2px solid black;
        border-radius: 10px;
        /* margin-top: 40%; */
    }

    
    #align-center-img{    
        
        width: 30%;
    }


    /***********************************************/
    /***********************************************/
    /***********************************************/


    #body-character-title {
        text-align: center;
        margin-top: 5%;
        margin-bottom: 0;
        border-top: 3px solid black;
    }

    .body-character {
        background-color: #A7A7A7;
        border-radius: 25px;
        margin-top: 3%;
        width: 49%;
        text-align: justify
    }

    .body-character h1 {
        text-align: center;
    }

    .body-character-img {
        width: 20%;
        display: inline-block;
        margin-left: 2%;
    }

    .body-character-txt {
        width: 69%;
        display: inline-block;
        vertical-align: top;
    }

    .body-box-character {
        
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between; 
    }
    



    /***********************************************/
    /***********************************************/
    /***********************************************/




    
    
    /***********************************************/
    /*                  PERSONNAGE                 */
    /***********************************************/

    #body-character-title-anime {
        text-align: center;
        margin-top: 5%;
        margin-bottom: 0;
        border-top: 3px solid black;
    }

    .body-character-anime { /*slide*/
        background-color: #A7A7A7;
        border-radius: 25px;
        margin-top: 0.5%;
        text-align: justify;
        margin-right: 2%;
        /* float: left; */
        width: calc(100%/5);
        float: left;

    }



    .body-character-anime h1 {
        text-align: center;
    }

    .body-character-img-anime {
        width: 10%;
        margin-left: 2%;
    }

    .body-character-txt-anime {
        width: 69%;
        display: inline-block;
        vertical-align: top;
    }

    .body-div-character-anime {
        overflow: hidden;
    }

    .body-box-character-anime { /*slides*/
        margin-right: 2%;
        position: relative;
        width: calc(100% *5);

        
        
            
        animation: slide 24s infinite;
    }

    @keyframes slide {
        0% {
            transform: translateX(0);
            display: block;
        }
        12.5% {
            transform: translateX(0);
            display: block;
        }
        25% {
            transform: translateX(-22%);
            display: block;
        }
        37.5% {
            transform: translateX(-22%);
            display: block;
        }
        50% {
            transform: translateX(-44%);
            display: block;
        }
        62.5% {
            transform: translateX(-44%);
            display: block;
        }
        75% {
            transform: translateX(-66%);
            display: block;
        }
        100% {
            transform: translateX(-66%);
            display: block;
        }
        
    }


/*

    FF mentale pour réussir a le faire fonctionner

    .button {
        display: flex;
        justify-content: center;
        font-size: xx-large;
    }

    .button p {
        
        text-align: center;
        margin: 0;
        padding: 0;
    }

    .button p:first-child {
        
        margin-right: 2%;
    }

    .button p:hover {
        cursor: pointer;
        color: #A71313;
    }

    .button-right {
        transform: translateX(-66%);
    }
    .button-left {
        transform: translateX(-33%);
    }
*/

    /***********************************************/
    /***********************************************/
    /***********************************************/






    /***********************************************/
    /*                    STATS                    */
    /***********************************************/


    #body-stats {
        background-color: #A7A7A7;
        padding: 2%;
        border-radius: 50px;
        margin-top: 50px;
        margin-bottom: 2%;
    }

    #body-stats-txt {
        width: 47.3%;
        vertical-align: top;
        display: inline-block;
        text-align: justify;
    }

    #body-stats-txt:first-child {
        border-right: 3px solid black;
        padding-right: 2%;
        
    }

    #body-stats-txt:last-child {
        padding-left: 2%;
    }

    #body-stats-txt h1 {
        text-align: center;
    }

    #body-stats-txt-info {
        font-weight: bold;
        text-align: center;
        /* text-shadow: 1px 1px 1px black; */
    }

    #body-stats-txt-lien {
        text-decoration: none; 
        color: #A71313;
        text-align: center;
    }





    /***********************************************/
    /***********************************************/
    /***********************************************/


}







































































@media screen and (max-width: 1200px){
        


    /***********************************************/
    /*                   IMG TOP                   */
    /***********************************************/

    #menu-img {
        position: relative;
        z-index: -1;
        margin-top: -10%;
    }

    #menu-img-manga {
        width: 100%;
        filter: brightness(70%);
        position: absolute;
        z-index: 0;
    }




    /***********************************************/
    /***********************************************/
    /***********************************************/

    /***********************************************/
    /*                    BODY                     */
    /***********************************************/

    #body {
        margin-top: 36%;
        position: relative;
        background-color: #D9D9D9;
        font-family: Arial, sans-serif;
        padding-left: 2%;
        padding-right: 2%;
        box-shadow:  00px 0px 10px black;
        padding-bottom: 2%;

    }

    #body-index {
        margin-top: 36%;
        position: relative;
        background-color: #D9D9D9;
        font-family: Arial, sans-serif;
        /* padding-left: 2%;
        padding-right: 2%; */
        box-shadow:  00px 0px 10px black;
        padding-bottom: 2%;

        
    }


    .body-video-trailer {
        width: 90%;
        border: 3px solid black;
        border-radius: 10px;
        text-align:center;
        margin:auto;
        display:flex;
        margin-bottom: 2%;
    }

    .body-trailer h1{
        text-align: center;
        border-top: 3px solid black;
    }

    /***********************************************/
    /***********************************************/
    /***********************************************/


    /***********************************************/
    /*                 PRESENTATION                */
    /***********************************************/

    #body-history {
        margin-bottom: 2%;
    }

    #body-presentation-top-img {
        width: 20%;
        display: inline-block;
        /* background-color: red; */
        vertical-align: top;
    }

    #body-presentation-top-img-manga {
        width: 100%;
        /* border: 3px solid black; */
    }
    #body-presentation-top-txt {
        width: 76%;
        vertical-align: top;
        display: inline-block;
        margin-left: 2%;
        text-align: justify;
        
        /* background-color: red; */
    }


    #body-presentation-bottom-txt {
        margin-left: 2%;
        margin-right: 2%;
        text-align: justify
    }


    .bouton-studio {
        color: #A71313;
        font-weight: bold;
        text-decoration: none;
    }



    /***********************************************/
    /***********************************************/
    /***********************************************/




    /***********************************************/
    /*                   HISTORY                   */
    /***********************************************/

    #body-history {
        background-color: #A7A7A7;
        padding: 2%;
        border-radius: 50px;
    }

    #body-history-txt {
        /* width: 67%; */
        vertical-align: top;
        display: inline-block;
        margin-right: 1%;
        text-align: justify;
    }

    #body-history-txt h1 {
        text-align: center;
    }


    #body-history-img {
        width: 70%;
        /* display: inline-block; */
        /* margin-top: 5%; */
        border: 2px solid black;
        border-radius: 10px;
    }

    #align-center-img{
        text-align: center;
    }


    /***********************************************/
    /***********************************************/
    /***********************************************/








    /***********************************************/
    /***********************************************/
    /***********************************************/


    #body-character-title {
        text-align: center;
        margin-top: 5%;
        margin-bottom: 0;
        border-top: 3px solid black;
    }

    .body-character {
        background-color: #A7A7A7;
        border-radius: 25px;
        margin-top: 3%;
        width: 49%;
        text-align: justify
    }

    .body-character h1 {
        text-align: center;
    }

    .body-character-img {
        width: 20%;
        display: inline-block;
        margin-left: 2%;
    }

    .body-character-txt {
        width: 69%;
        display: inline-block;
        vertical-align: top;
    }

    .body-box-character {
        
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between; 
    }
    



    /***********************************************/
    /***********************************************/
    /***********************************************/




    
    
    /***********************************************/
    /*                  PERSONNAGE                 */
    /***********************************************/

    #body-character-title-anime {
        text-align: center;
        margin-top: 5%;
        margin-bottom: 0;
        border-top: 3px solid black;
    }

    .body-character-anime { /*slide*/
        background-color: #A7A7A7;
        border-radius: 25px;
        margin-top: 0.5%;
        text-align: justify;
        margin-right: 2%;
        /* float: left; */
        width: calc(100%/5);
        float: left;

    }



    .body-character-anime h1 {
        text-align: center;
    }

    .body-character-img-anime {
        width: 10%;
        margin-left: 2%;
    }

    .body-character-txt-anime {
        width: 69%;
        display: inline-block;
        vertical-align: top;
    }

    .body-div-character-anime {
        overflow: hidden;
    }

    .body-box-character-anime { /*slides*/
        margin-right: 2%;
        position: relative;
        width: calc(100% *5);

        
        
            
        animation: slide 24s infinite;
    }

    @keyframes slide {
        0% {
            transform: translateX(0);
            display: block;
        }
        12.5% {
            transform: translateX(0);
            display: block;
        }
        25% {
            transform: translateX(-22%);
            display: block;
        }
        37.5% {
            transform: translateX(-22%);
            display: block;
        }
        50% {
            transform: translateX(-44%);
            display: block;
        }
        62.5% {
            transform: translateX(-44%);
            display: block;
        }
        75% {
            transform: translateX(-66%);
            display: block;
        }
        100% {
            transform: translateX(-66%);
            display: block;
        }
        
    }


/*

    FF mentale pour réussir a le faire fonctionner

    .button {
        display: flex;
        justify-content: center;
        font-size: xx-large;
    }

    .button p {
        
        text-align: center;
        margin: 0;
        padding: 0;
    }

    .button p:first-child {
        
        margin-right: 2%;
    }

    .button p:hover {
        cursor: pointer;
        color: #A71313;
    }

    .button-right {
        transform: translateX(-66%);
    }
    .button-left {
        transform: translateX(-33%);
    }
*/

    /***********************************************/
    /***********************************************/
    /***********************************************/




    /***********************************************/
    /*                    STATS                    */
    /***********************************************/


    #body-stats {
        background-color: #A7A7A7;
        padding: 2%;
        border-radius: 50px;
        margin-top: 50px;
        margin-bottom: 2%;
    }

    #body-stats-txt {
        width: 46%;
        vertical-align: top;
        display: inline-block;
        text-align: justify;
    }

    #body-stats-txt:first-child {
        border-right: 3px solid black;
        padding-right: 2%;
        
    }

    #body-stats-txt:last-child {
        padding-left: 2%;
    }

    #body-stats-txt h1 {
        text-align: center;
    }

    #body-stats-txt-info {
        font-weight: bold;
        text-align: center;
        /* text-shadow: 1px 1px 1px black; */
    }

    #body-stats-txt-lien {
        text-decoration: none; 
        color: #A71313;
        text-align: center;
    }





    /***********************************************/
    /***********************************************/
    /***********************************************/


}



